{% extends "base.html" %}
{% block content %}

    <script>
        $(document).ready ( function() {

            let arrows = 5;
            let choices = $("#choices");
            let moveButtons = $(".move");
            let shootButton = $("#shoot");
            let caveSelector = $("#cave_id");
            let errorMessages = $("#error_messages");
            let statusMessages = $("#status_messages");
            let errorBadge = $(".badge-danger");
            let notebook = $("#notebook");
            errorBadge.hide();

            moveButtons.on('click', function () {

                errorBadge.hide();
                errorMessages.empty();
                let move = this.id;
                let cave_id = caveSelector.val();
                if(arrows === 1 && move==='shoot') {
                    let answer = confirm("This is your last arrow.  Are you sure you want to shoot it?");
                    if(!answer) {
                        return;
                    }
                }
                $.ajax({
                    url: "{{url_for('turn')}}",
                    data: JSON.stringify({"move": move, "cave_id": cave_id}),
                    dataType: "json",
                    contentType: "application/json",
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                        let messages = response['messages'];
                        let cave_ids = response['cave_ids'];
                        arrows = response['arrows'];
                        let game_over = response['game_over'];
                        let notes = response['notes'];
                        let optionList = "<option value=''>Choose...</option>";
                        cave_ids.forEach(function(item) {
                            optionList += "<option value='" + item + "'>" + item + "</option>";
                        });
                        caveSelector.html(optionList);

                        let messageList = "";
                        messages.forEach(function(message) {
                            let color_class = 'text-default';
                            if(message.type === 'WARNING') {
                                color_class = 'text-warning'
                            }
                            if(message.type === 'TERMINAL') {
                                color_class = 'text-danger'
                            }
                            messageList += "<li class='list-group-item " + color_class + "'>" + message.content + "</li>";
                        });
                        statusMessages.html(messageList);

                        if(game_over) {
                            let game_button = "<div class='text-center'><a class='btn btn-primary' href='/'>New Game?</a></div>";
                            choices.html(game_button)
                        }
                        if(arrows === 0) {
                            shootButton.hide()
                        }
                        if(notes) {
                            notebook.html(notes);
                        }
                    },
                    error: function (request) {
                        let errors = $.parseJSON(request.responseText).errors;
                        if(errors) {
                            errorBadge.show();
                        }
                        let errorList = "";
                        errors.forEach(function(item) {
                           errorList += "<li>" + item + "</li>";
                        });
                        errorMessages.html(errorList);

                    }
                });
            });
        });
    </script>

    <div class="page-header">
        <h1>Game Board</h1>
    </div>


    <div class="row">
        <div class="col-5">
            <div class="badge badge-danger">Errors</div>
            <ul id="error_messages" class="text-danger"></ul>
        </div>
    </div>

    <div class="row">
        <div class="col-5">

            <div class="card mb-5">
                <div class="card-header text-center text-white bg-info">Player's Move...</div>
                <div class="card-body">
                    <div class="card-text">

                            <div class="form-row" id="choices">

                                <select class="custom-select col-4 mr-3" name="cave_id" id="cave_id">
                                    <option value="">Choose a Cave...</option>
                                    {% for cave_id in game.hunter.cave.neighboring_caves %}
                                        <option value="{{ cave_id }}">{{ cave_id }}</option>
                                    {% endfor %}
                                </select>

                                <button class="btn btn-primary col-3 mx-2 move" id="enter">
                                    Enter <img class="mx-2" src="{{ url_for('static', filename='images/enter.png') }}" width="32px" />
                                </button>
                                <button class="btn btn-primary col-3 mx-2 move" id="shoot">
                                    Shoot <img class="mx-2" src="{{ url_for('static', filename='images/shoot.png') }}" width="32px" />
                                </button>

                            </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-header text-center text-white bg-info">Status</div>
                    <div class="card-body">
                        <div class="card-text">
                            <ul id="status_messages" class="list-group">
                                {% for item in status %}
                                    {% if item.type == 'WARNING' %}
                                        {% set message_color = 'text-warning'  %}
                                    {% else %}
                                        {% set message_color = 'text-default' %}
                                    {% endif %}
                                    <li class="list-group-item {{ message_color }}">{{ item.content }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-7">

             <div class="card text-center">
                 <div class="card-header text-white bg-info">Field Notes</div>
                 <div class="card-body">
                    <div class="card-text" id="notebook">
                        {{ cavern_map }}
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}